<footer class="ai-footer">
    <div class="ai-footer-inside">
        <div class="afi-top">
            <a href="/termsandcondition">Terms of use</a>
            <a href="/privacyandpolicy">Privacy Policy</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
        </div>
        <div class="afi-btm">
            Copyright <?php echo date("Y"); ?>: All Rights Reserved.
        </div>
    </div>
</footer>
<script>
    let _a_remove = document.querySelector('a[href="https://www.wallpaper-access.com"]');
    _a_remove.remove()
</script>
<script src="/_js_/js_v07.js"></script>
<!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-MC5MG47H9X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MC5MG47H9X');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2522440384764425"
     crossorigin="anonymous"></script>