<meta name="robots" content="max-image-preview:large">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon_v01.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32_v01.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16_v01.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab_v01.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-title" content="aiwallpaper.online">
<meta name="application-name" content="aiwallpaper.online">
<meta name="msapplication-TileColor" content="#001522">
<meta name="theme-color" content="#000f18">
<link async rel="stylesheet" href="/css/css_v02-min.css">

<style>
    html{
        scroll-behavior: smooth;
    }
</style>
