<header class="ai-header">
<a href="/" class="ai-header-left" style="display:flex;align-items: center;gap:5px;" title="website homepage link"><i style="width:50px;height:50px;display:inline-block;background:url('/assets/logo_v01.png');" class="icon-settings"></i> <strong class="ai-header-left-text">Wallpapers</strong></a>
<div class="ai-header-right">
<div class="aihr-inside">
<form action="/search" method="get">
<input type="search" name="wallpaper" placeholder="Search Desired Wallpaper" required>
<button type="submit" title="Search button"><i class="search icon-size-s icon-settings"></i></button>
</form>
<div class="aihr-inside-icon-hamburger">
<div class="ai-social-media-icon sm-outside-nav" style="align-items:center;">
<a href="/live/" style="font-size: 2rem;">⚡</a>
<a href="https://opengamingtime.online" style="padding-bottom:5px;"><strong style="font-size:25px;">🌐</strong></a>
</div>
<div class="ai-navbar">
<button title="hamburger, Open Menu" class="ai-nav-toggle-button" onclick="document.querySelector('.ai-navbar-inside').classList.toggle('display-none');"><i class="hamburger icon-size icon-settings"></i></button>
<div class="ai-navbar-inside" onmouseleave="document.querySelector('.ai-navbar-inside').classList.remove('display-none');">
<nav>
<a href="/">Home</a>
<a href="/faq">FAQs</a>
<a href="/termsandcondition">Terms of use</a>
<a href="/contact">Contact</a>
<a href="/about">About</a>
<div class="ai-social-media-icon sm-inside-nav">
<a href="/live/" style="font-size: 2rem;">⚡</a>
</div>
</nav>
</div>
</div>
</div>
</div>
</div>
</header>